body
{
	margin: 0px;
}
div
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #555;
	font-size: 10px;
	text-align: justify;
}
abbr
{
	cursor: help;
}
.cTitle
{
	position: relative;
	margin: 0px 0px 20px 0px;
	width: 600px;
	font-family: Georgia, serif;
	font-size: 24px;
	color: #4E443C;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 100;
}
form
{
	font-size: 10px;
}
input
{
	border: #A18669 1px solid;
	font-size: 10px;
	width: 122px;
	padding: 3px;
	color: #575556;
	background: #FFF;
	outline: none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
input.button
{
	font-family: Arial, Helvetica, sans-serif;
	border: #A18669 1px solid;
	font-size: 10px;
	color: #A18669;
	margin-left: 108px;
	font-weight: bold;
	width: auto;
	cursor: pointer;
}
input:focus
{
	box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
}
input.button:hover
{
	border: #36817C 1px solid;
	background-color: #36817C;
	color: #FFF;
	box-shadow: 0 0 5px #36817C;
	-webkit-box-shadow: 0 0 5px #36817C;
	-moz-box-shadow: 0 0 5px #36817C;
}
.labelForm
{
	display: block;
	width: 100px;
	float: left;
	color: #333;
	font-weight: bold;
	text-align: right;
	padding: 5px 8px 0px 0px;
	font-size: 10px;
	line-height: 10px;
}
#idMain
{
	position: relative;
	width: 100%;
	height: 55px;
}
#idMain .cLogoApp
{
	float: left;
	margin: 0px;
}
#idMain .cLogoApp h1
{
	color: #FFF;
	margin-left: 5px;
}
#idMain .cName
{
	float: right;
	position: relative;
	padding: 5px;
	color: #FFFFFF;
	text-align: right;
}
#idMain a
{
	color: #CCC;
	text-decoration: none;
}
#idBody
{
	clear: both;
	width: 100%;
	vertical-align: middle;
}
#idBody .cRegister
{
	margin: 50px 0px 0px 0px;
	width: 600px;
	float: left;
	margin-left: 5px;
}
#idBody .cTerm
{
	margin: 50px 0px 0px 0px;
	width: 600px;
	float: left;
	margin-left: 5px;
}
#idBody .cLogin
{
	width: 375px;
	margin: 50px 0px 50px 0px;
}
#idBody .cMain
{
	position: relative;
	border: #DDD 1px solid;
	width: 350px;
	height: 235px;
	padding: 10px;
}
#idBody .cError,
#idBody .cMessageWarning
{
	position: relative;
	margin-bottom: 4px;
	border: #900 1px solid;
	width: 350px;
	padding: 10px;
	background-color: #EBCCCC;
	color: #900;
	font-weight: bold;
}
#idBody .cError a.cReport,
#idBody .cMessageWarning a.cReport
{
	display: none;
}
#idBody .cMessage,
#idBody .cMessageSuccess
{
	position: relative;
	margin-bottom: 4px;
	border: #090 1px solid;
	width: 350px;
	padding: 10px;
	background-color: #CCEBCC;
	color: #090;
	font-weight: bold;
}
#idBody .cMessageAlert
{
	position: relative;
	margin-bottom: 4px;
	border: #876D3C 1px solid;
	width: 350px;
	padding: 10px;
	background-color: #FBF8E4;
	color: #876D3C;
	font-weight: bold;
}
#idBody .cMessageInfo
{
	position: relative;
	margin-bottom: 4px;
	border: #3B709C 1px solid;
	width: 350px;
	padding: 10px;
	background-color: #DBEDF7;
	color: #3B709C;
	font-weight: bold;
}
#idLogon, #idLost
{
	position: absolute;
	top: 120px;
	left: 110px;
	width: 250px;
	height: 125px;
	border: #CCC 1px solid;
	background-color: #F4F4F4;
}
#idWait
{
	position: absolute;
	top: 120px;
	left: 110px;
	width: 240px;
	height: 115px;
	border: #CCC 1px solid;
	background-color: #F4F4F4;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #900;
	font-weight: bold;
}
#idWaitLost
{
	position: absolute;
	padding: 5px;
	top: 140px;
	left: 110px;
	width: 240px;
	height: 60px;
	border: #CCC 1px solid;
	background-color: #F4F4F4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #900;
	font-weight: bold;
}
#idMenuSection
{
	clear: both;
}
#idMenuSection ul
{
	margin: 0;
	list-style-type: none;
	text-align: right;
}
#idMenuSection li
{
	margin-left: 10px;
}
#idMenuSection ul li
{
	display: inline;
}
#idMenuSection ul li a
{
	text-decoration: none;
	color: #555555;
	font-weight: normal;
}
#idMenuSection a:hover
{
	text-decoration: underline;
}
div.row
{
	clear: both;
	padding-top: 10px;
}
a
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #650000;
	font-weight: normal;
}
a:hover
{
	text-decoration: underline;
}
div.cUserType
{
	border: #575556 2px solid;
	margin-bottom: 10px;
}
div.cUserType div
{
	text-align: left;
	padding: 5px 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
div.cUserType iframe
{
	width: 595px;
	height: 400px;
	border: 0px;
}
div.cValidateMethod
{
	border: #575556 2px solid;
	margin-bottom: 10px;
}
div.cValidateMethod div
{
	text-align: left;
	padding: 5px 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
div.cValidateMethod iframe
{
	width: 595px;
	height: 350px;
	border: 0px;
}
div.selected div
{
	background-color: #575556;
	color: #FFF;
}
div.selected iframe
{
	display: block;
}
div.unselected div
{
	background-color: #FFF;
	color: #656565;
}
div.unselected div:hover
{
	background-color: #575556;
	color: #FFF;
	box-shadow: 0 0 10px #575556;
	-webkit-box-shadow: 0 0 10px #575556;
	-moz-box-shadow: 0 0 10px #575556;
}
div.unselected iframe
{
	display: none;
}
.cSocial
{
	clear: both;
	width: 962px;
	height: 60px;
	margin: 20px auto 0px;
	padding: 10px;
	background-color: #F4F4F4;
	border: #DDD 1px solid;
}
.cSocial div
{
	font-family: Georgia, serif;
	font-size: 24px;
	color: #4E443C;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 100;
	height: 60px;
	line-height: 60px;
	float: right;
}
.cSocial img
{
	margin-left: 10px;
	cursor: pointer;
}
.cMobile
{
	clear: both;
	width: 962px;
	height: 60px;
	margin: 0px auto 40px;
	padding: 10px;
	background-color: #F4F4F4;
	border: #DDD 1px solid;
}
.cMobile div
{
	font-family: Georgia, serif;
	font-size: 24px;
	color: #4E443C;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 100;
	height: 60px;
	line-height: 60px;
	float: right;
}
.cMobile img
{
	margin-left: 10px;
	cursor: pointer;
}
#idBase
{
	clear: both;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: #36817C 3px solid;
	background-color: #575556;
	height: 23px;
	width: 100%;
	z-index: 3;
}
#idBase .cPowered
{
	float: left;
	position: relative;
	padding: 5px;
	font-size: 10px;
	color: #FFF;
}
#idBase .cPowered img
{
	float: left;
	border-width: 0;
}
#idBase .cPowered label
{
	float: left;
	margin-left: 5px;
}
#idBase .cResources
{
	float: right;
	position: relative;
	padding: 5px;
	color: #FFF;
	min-width: 180px;
}
#idBase .cResources img.cIconInfo
{
	float: left;
	border-width: 0;
}
#idBase .cResources img.cTitanAssign
{
	float: right;
	border-width: 0;
	margin-top: -1px;
}
#idBase .cResources label
{
	float: right;
	margin-left: 5px;
}
#idBase a
{
	color: #FFF;
}
.cReleaseInfo
{
	width: 250px;
	height: 160px;
	background: url(titan.php?target=loadFile&file=interface/image/arrow.down.large.png) center bottom no-repeat;
	position: fixed;
	bottom: 30px;
	right: 55px;
	z-index: 4;
}
.cReleaseInfo div
{
	text-align: left;
	font-size: 10px;
	width: 230px;
	height: 130px;
	background: #606060;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	z-index: 5;
	box-shadow: 0 0 5px #606060;
	-webkit-box-shadow: 0 0 5px #606060;
	-moz-box-shadow: 0 0 5px #606060;
}
