#idBodyReg
{
	clear: both;
}
#idWait
{
	color: #900;
	font-weight: bold;
}
#idSuccess
{
	width: 300px;
	height: 95px;
	background: #FFFFFF;
}
#idSuccess img
{
	float: left;
	margin: 10px;
}
#idSuccess div
{
	float: right;
	width: 210px;
	margin: 20px 10px 10px 0px;
}
#idMessage .cError a.cReport
{
	display: none;
}