#idBodyReg
{
	clear: both;
	margin: 0px 8px 0px 8px;
	border: #575556 1px solid;
	background-color: #FFFFFF;
}
#idWait
{
	float: right;
	color: #990000;
	font-weight: bold;
	vertical-align: top;
	margin-right: 30px;
}
#idSuccess
{
	width: 300px;
	height: 95px;
	background: #FFFFFF;
}
#idSuccess img
{
	float: left;
	margin: 10px;
}
#idSuccess div
{
	float: right;
	width: 210px;
	margin: 20px 10px 10px 0px;
}